:root {
    --text-title: #2E2F42;
    --page-text: #434455;
    --function-color: #4D5AE5;
    --btn-text: #FFFFFF;
    --page-text-light: #F4F4FD;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(#434455);
    background-color: var(--btn-text);
}

/* =================  HEADER  ================== */

.link {
    text-decoration: none;
}


.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--function-color);
}

.list {
    list-style: none;
}


/* =================  HEADER  ================== */


.web-logo-header {
    color: var(--text-title);
}


.header-list {
    font-family: "Roboto" sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-title);
    color: var(--text-title)
}

.header-address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--page-text);
}

.header-address {
    font-style: normal;
}

.header-address-link:focus,
.header-address-link:hover {
    color: var(--function-color);
}

.header-link-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-title);
}

.header-link-item:hover,
.header-link-item:focus {
    color: var(--function-color);
}


.hero-section {
    background-color: var(--text-title);
}

.hero-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    background-color: var(--text-title);
    color: var(--btn-text);
}

.btn-text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--btn-text);
    background-color: var(--function-color);
    cursor: pointer;
}

.btn-text:hover,
.btn-text:focus {
    background-color: var(--function-color);
    color: var(--btn-text);
}

/*  ================ MAIN ================  */


.list-item {
    background-color: var(--btn-text);
}

.text-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--text-title);
}

.text-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--page-text);
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--text-title);
}


.btn-text-portfolio {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--function-color);
    background-color: var(--page-text-light);
}

.btn-text-portfolio:hover,
.btn-text-portfolio:focus {
    color: var(--btn-text);
    background-color: var(--function-color);
}

.footer-section {
    background-color: var(--text-title);
}


.web-logo-footer {
    color: var(--page-text-light);
}

.text-description-footer {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--page-text-light);
}