:root {
    --text-title: #2E2F42;
    --page-text:  #434455;
    --function-color: #4D5AE5;
    --btn-text: #FFFFFF;
    --page-text-light: #F4F4FD;
}

body {
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

/* =================  HEADER  ================== */

.logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    color: var(--function-color);
}

.web-logo-header {
    color: var(--function-color);
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.header-list {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-title)
}

.header-address-link {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--page-text);
}

.header-link-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-title);
}

.header-link-item:hover,
.header-link-item:focus {
    color: var(--function-color);
}

/* ================ HERO ================ */


.hero-section {
    background-color: var(--text-title);
}

.hero-text {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--btn-text);
}

.btn-text {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--btn-text);
    background-color: var(--function-color);
}

/*  ================ ADVANTAGES ================  */

.text-title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--text-title);
}

.text-description {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--page-text);
}

.section-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--text-title);
}

.background {
    color: #F4F4FD;
}



/*  ================ PORTFOLIO BUTTONS ================  */

button {
    cursor: pointer;
}

.btn-text-portfolio {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--function-color);
    background-color: var(--page-text-light);
}

.btn-text-portfolio:hover,
.btn-text-portfolio:focus {
    color: var(--btn-text);
    background-color: var(--function-color);
}

.footer-section {
    background-color: var(--text-title);
}

.web-logo-footer {
    color: var(--page-text-light);
}

.text-description-footer {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--page-text-light);
}